.nav-link {
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #d4af36;
  transition: width 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}
